\*.DS_Store
latest/data/experiment_data.csv
reproduce_results/data/experiment_data.csv
__pycache__
latest/code/get_experiment_weights.py
reproduce_results/code/get_experiment_weights.py
latest/code/get_weights.py
reproduce_results/code/get_weights.py
*.ipynb
.ipynb_checkpoints
reproduce_results/data/french_royalty.npz
latest/data/french_royalty.npz
